* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding: 5px;
}
:root {
    /*======= app container =======*/
    --app-container-bg-color: rgb(54, 78, 88);
    /*--- end app container ---*/

    /*======= content container =======*/
    --content-container-bg-color: rgb(221, 224, 224);
    /*--- end content container ---*/
    
    /*======= title page container =======*/
    --title-page-section-border-color: rgb(30, 39, 46);
    /*--- end title page container ---*/

    /*======= content container =======*/
    --content-container-height: 95vh;
    --content-container-width: 97vw;
    --content-container-box-color: rgb(21, 21, 21);
    /*--- end content container ---*/

    /*======= environment settings container =======*/
    --environment-settings-container-width: 100%;
    --environment-settings-container-height: 8%;
    /*--- end environment settings container ---*/

    /*======= timer section =======*/
    --timer-font-size: clamp(1.2rem, 1.2vw, 5rem);
    --timer-button-font-size: clamp(.5rem, .7vw, 5rem);
    /*--- end timer section ---*/

    /*======= problem statement container =======*/
    --problem-statement-container-width: 100%;
    --statement-container-height: 90%;
    --statement-container-border-color: rgb(59, 82, 89);
    --statement-container-bg-color: rgb(255, 255, 255);
    /*--- end problem statement container ---*/

    /*======= interviewer only =======*/
    /*--- end interviewer only ---*/

    /*======= problem category / code editor =======*/
    --problem-statement-width: .394;
    --problem-total-spacing: calc(var(--content-container-width)*.01);
    --problem-category-container-width: calc(var(--content-container-width) * var(--problem-statement-width));
    --code-editor-width: calc(var(--content-container-width) - var(--problem-category-container-width) - var(--problem-total-spacing));
    /*--- end problem category / code editor ---*/

    /*======= Programming Language dropdown =======*/
    --language-dropdown-min-height: clamp(1.2rem, 1vw, 5rem);
    /*--- End Programming Language dropdown ---*/
}
#app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--app-container-bg-color);
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--content-container-height);
    width: var(--content-container-width);

    padding: .4rem;
    border-radius: 15px;
    background-color: var(--content-container-bg-color);
    box-shadow: 0 0 3px 4px var(--content-container-box-color);
}
/*--- end app container css ---*/

#title-page-container {
    min-height: 100%;
    width: 100%;
}
#title-page-section-container {
    display: flex;
    width: 100%;
    min-height: 100%;
}
.title-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.title-page-content {
    min-height: 40vh;
}
/*--- end title page css ---*/

#environment-settings-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: var(--environment-settings-container-width);
    height: var(--environment-settings-container-height);
    background-color: var(--environment-settings-bg-color);
}
#problem-section-container {
    display: flex;
    width: var(--problem-category-container-width);
    height: 100%;
}
#timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
    & p {
        letter-spacing: 2px;
        font-size: var(--timer-font-size);
    }
}
#timer-controller {
    display: flex;
    justify-content: center;
    width: 100%;
    & button {
        margin: 0 .2rem;
        font-size: var(--timer-button-font-size);
        padding: 2px;
    }
}
/*--- end navigation section ---*/
#problem-statement-container {
    display: flex;
    justify-content: space-between;
    width: var(--problem-statement-container-width);
    height: 100%;
}
#problem-category-container,
#code-editor-container {
    height: auto;
    border: 2px solid var(--statement-container-border-color);
    background-color: var(--statement-container-bg-color);
}
#problem-category-container {
    width: var(--problem-category-container-width);
}
#problem-statement {
    height: 100%;
    width: 100%;
    resize: none;
}
#code-editor-container {
    width: var(--code-editor-width);
}
#code-editor {
    height: 100%;
}
#code-editor-section-container {
    display: flex;
    align-items: center;
    width: var(--code-editor-width);
    height: 100%;
}
#language-dropdown-container {
    width: 15%;
}
#language-dropdown {
    text-transform: capitalize;
    width: 100%;
    min-height: var(--language-dropdown-min-height);
    padding: 2px 10px;
}
/*--- end interviewer/interviewee section ---*/
#interviewer-structure-container {
    display: flex;
    flex-direction: column;
    min-height: var(--statement-container-height);
    width: 100%;
}
#interviewer-comments {
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    margin-top: .5rem;
}
#code-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--statement-container-bg-color);
    height: auto;
}
.response-section {
    display: flex;
    flex-direction: column;
    width: 33.2%;
}
.rating-section {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    & select {
        text-align: center;
    }
}
.comment-section {
    height: 100%;
    & label {
        padding: 0 .2rem;
    }
}
.comment {
    resize: none;
    height: 100%;
    border: 2px solid var(--statement-container-border-color);
}